


#menu {
    
    height: 50px;
    width: 100%;
    position:fixed;
    display: inline-block;
    background-color:#252525;
}
body{
    position:relative;
}



#searchbar {
    
    padding-top:10px;
    text-align:center;  
    
}
.list{
    display:inline-block;
    
}


